*{
    box-sizing: border-box;
    font-family: "Work Sans";
    margin: 0;
    padding: 0;
}
a{
    text-decoration:none !important;
}
body{
    margin-top: 50px;
    background-color: #222831;
    color: #EEEEEE;
}
.banner{
    height: 85vh;
    overflow: hidden;
}
.banner img{
    width: 100%;
    height: 85vh;
    object-fit: cover;
    position: relative;
}
.textosBanner{
    position: absolute;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-weight: bold;
    background-color:rgba(42, 49, 48, 0.8);
    padding:0 10px;
    font-size:35px;
    top:37%;
    left: 4%;   
}
.textosBanner div{
  font-family: "Cinzel", serif;
  font-weight: 400;
}
#quienesSomos{
    max-width: 1900px;
    margin: 0 auto;
    padding: 50px;
}
#quienesSomos p{
    font-family: "Poppins", sans-serif;
    text-align: justify;
    font-size:17px;
}
.circulosSomos{
    display: flex;
    justify-content:space-around;
    padding:40px;
    flex-wrap: wrap;
}
.cajaCirculo{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}
.circulo{
    border: none;
    background-color: rgba(42, 49, 48, 0.8);
    text-shadow: black 0.1em 0.1em 0.2em;
    color: #76ABAE;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}
.textoCirculo{
    padding: 20px;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
}
#misionVision{
    max-width: 1900px;
    padding: 50px;
    margin: 0 auto;
}
#misionVision p{
    font-family: "Poppins";
    text-align: justify;
    font-size:17px;
}
#areasPadre{
    max-width: 1900px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    background-color: #c9c9c9;
    border-radius: 15px;
    margin: 20px;
    transition: .3s ease-in-out;
    padding: 15px;
    color: white;
    background-color:#31363F;
}
.area:hover{
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.29);
  transform: scale(1.01);
}
.area img{
    height: 50px;
}
.tituloArea{
    font-family: "Poppins";
    font-size: 22px;
    font-weight: 600;
    letter-spacing: .1rem;
    color: #76ABAE;
    text-align: center;
}
.area li{
    font-family: "Poppins";
    font-size: 18px;
}

/*------------ ACORDEON ------------*/
.cajaCarousel{
  margin: 0% 3% 3% 3%;
  font-family: 'Poppins';
  padding: 2%;
}
.acordeon{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: white;
  text-align: center;
  font-family: "Poppins";
  font-size: 20px;
}
.acordeonTitulo{
  text-align: center;
  font-size: 30px;
  font-family: 'Poppins';
  margin-top: 50px;
  color: #DC5F00;
}
.headerAcordeon{
  padding: 12px;
  font-family: "Poppins";
  font-size: 20px;
  border: black solid 2px;
  color: white;
  background-color: #31363F;;
}
h2{
  padding:0; 
  margin: 0;
  color: #DC5F00;
  font-weight: 500;
}
.tituloAcordeon{
  width: 100%;
  text-align: center;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  color: white;
}
.accordion-header{
  border: black solid 1px;
  border-top: none;
}
.headerAcordeon{
  text-align: center;
  border: black solid 1px;
  margin-bottom: 1px;
}
.accordion{
  --bs-accordion-active-bg: #E6E6E6;  /*  fondo del boton activado*/
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(228, 228, 228, 0.696); /* Color de la sombra del boton activado */
}
.accordion-body{
  text-align: left;
  background-color: #76ABAE;
}
.acordeon button{
  background-color: #31363F;
}
.accordion-button::after { /* flechita */
  color: violet!important;
  background-color: white;
  padding: 10px;
}
.accordion-button:not(.collapsed) { /* boton cuando esta activado */
  background-color: #31363F;
}
@media(max-width:1000px){
  .area{
    width: 360px;
  }
}
@media(max-width:800px){
  .cajaCarousel{
    margin: 0% 15px 15px 3%;
  }
  .acordeon{
    width: 100%!important;
  }
}
@media(max-width:600px){
  #quienesSomos{
    padding: 0px;
  }
  #quienesSomos h2{
    margin:20px;
  }
  #quienesSomos p{
    margin:20px;
  }
  .circulo{
    width: 250px;
    height: 250px;
  }
  .circulosSomos{
    padding: 0px;
  }
  #misionVision{
    padding: 20px;
  }
}
